/* @import '../../../../../../../../styles.css'; */

/* gr-modal-make-inquiry */

.modal-make-inquiry {
    height: 500px !important;
}
.gr-modal-make-inquiry .modal-body div.scroll {
    height: calc(500px - 1rem) !important;
}
.gr-modal-make-inquiry .modal-content {
    position: absolute;
    top: calc((100vh - 390px) / 3);
    right: 0;
    bottom: 0;
    left: calc((100vw - 950px) / 2);
    height: 300px !important;
    border-radius: 0;
}
::ng-deep .gr-modal-make-inquiry .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

::ng-deep .gr-modal-make-inquiry .modal-dialog {
    position: fixed;
    margin: 0;
    min-width: 620px;
    height: 300px;
    padding: 0;
    font-family: var(--main-font-family);
    font-size: var(--default-font-size);
}

::ng-deep .gr-modal-make-inquiry .modal-content {
    position: absolute;
    top: calc((100vh - 390px) / 3);
    right: 0;
    bottom: 0;
    left: calc((100vw - 600px) / 2);
    height: 300px;
    border-radius: 0;
    background: var(--bg-primary-color);
}

::ng-deep .gr-modal-make-inquiry .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 42px;
    padding: 0.25rem 0.5rem;
    background: var(--bg-primary-color);
}

::ng-deep .gr-modal-make-inquiry .modal-body {
    position: absolute;
    top: 43px;
    width: 100%;
    background: var(--bg-primary-color);
    padding: 0.5rem !important;
}

::ng-deep .gr-modal-make-inquiry .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 42px;
    padding: 10px;
    border-radius: 0;
    background: var(--bg-primary-color);
}

::ng-deep .gr-modal-make-inquiry .modal-body div.scroll {
    height: calc(305px - 1rem);
}

.checkbox{background-color:#fff;display:inline-block;height:20px;margin:0 .25em;width:20px;border-radius:4px;border:1px solid #ccc;float:right}
  .checkbox span{display:block;height:20px;position:relative;width:20px;padding:0}
  .checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:12px;left:3px;position:absolute;top:8px;width:10px}
  .checkbox span:hover:after{border-color:#999}
  .checkbox input{display:none}
  .checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}
.checkbox input:checked + .default:after{border-color:#444}


.ng-select.of-custom-select-type ::ng-deep {
    border:0px;
    min-height: 0px;

    /* height: calc(1.5em + .5rem + 2px) !important; */
    /* padding: .25rem; */
    /* min-height: 12px; */
  }

  .ng-select.of-custom-select-type ::ng-deep .ng-select-container ::ng-deep {            
    height: 28px;
    min-height: 28px;
}

.ng-select .ng-select-container::ng-deep {
  /* min-height: 12px !important; */
}
.ng-select-container ::ng-deep{
  height: 22px !important;
}

.ng-value-container ::ng-deep .ng-value::ng-deep {
  background-color: #808027 !important;
    color: white !important;
    text-align: justify;
    height: 18px;
}

.modal-footer>*::ng-deep {
    margin: 0.0rem !important;
}