<ng-container *ngIf="!isLoading">
  <div class="background">
    <table class="panel">
      <tr style="height: 31px; border-bottom: 0.5rem solid transparent;">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb breadcrumb-custom">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Catalogue
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Measurement
            </li>
          </ol>
        </nav>
      </tr>
      <tr style="border-bottom: 0.5rem solid transparent;">
        <table class="panel">
          <tr style="height: 100%;">
            <ag-grid-angular
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
              [suppressClickEdit]="true"
              editType="fullRow"
              rowModelType="infinite"
              [columnDefs]="columnDefs"
              rowSelection="single"
              [suppressMenuHide]="true"
              [defaultColDef]="defaultColDef"
              [frameworkComponents]="frameworkComponents"
              (gridReady)="onGridReady($event)"
            >
            </ag-grid-angular>
          </tr>
        </table>
      </tr>
      <tr style="height: 32px;">
        <table class="panel">
          <tr>
            <td></td>

            <td style="width: 91px;" *ngIf="!editMode">
              <button
                class="btn btn-custom btn-sm"
                type="button"
                (click)="addNew()"
              >
                Add New
              </button>
            </td>
            <td style="width: 71px;" *ngIf="editMode">
              <button
                class="btn btn-custom btn-sm"
                type="button"
                (click)="cancel()"
              >
                Cancel
              </button>
            </td>
            <td style="width: 71px;" *ngIf="editMode">
              <button
                class="btn btn-custom btn-sm"
                type="button"
                (click)="save()"
              >
                Save
              </button>
            </td>
          </tr>
        </table>
      </tr>
    </table>
  </div>
</ng-container>
