<ag-grid-angular
    #quotOtherChargestGrid
    style="width: 100%; height: 100%;"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [components]="components"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
    [suppressClickEdit]="true"
    editType="fullRow"
    rowSelection="single"
    [suppressMenuHide]="true"
    [frameworkComponents]="frameworkComponents"
    (rowEditingStopped)="rowEditingStopped($event)"
    suppressColumnVirtualisation="true"
>
</ag-grid-angular>