@import '../../../../../../styles.css';

/* gr-modal-advance */

.modal-advance {
    height: 471px !important;
}
.gr-modal-advance .modal-body div.scroll {
    height: calc(471px - 1rem) !important;
}
.gr-modal-advance .modal-content {
    position: absolute;
    top: calc((100vh - 390px) / 3);
    right: 0;
    bottom: 0;
    left: calc((100vw - 950px) / 2);
    height: 378px !important;
    border-radius: 0;
}
::ng-deep .gr-modal-advance .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

::ng-deep .gr-modal-advance .modal-dialog {
    position: fixed;
    margin: 0;
    min-width: 520px;
    height: 378px;
    padding: 0;
    font-family: var(--main-font-family);
    font-size: var(--default-font-size);
}

::ng-deep .gr-modal-advance .modal-content {
    position: absolute;
    top: calc((100vh - 390px) / 3);
    right: 0;
    bottom: 0;
    left: calc((100vw - 520px) / 2);
    height: 378px;
    border-radius: 0;
}

::ng-deep .gr-modal-advance .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 42px;
    padding: 0.25rem 0.5rem;
    background: var(--bg-primary-color);
}

::ng-deep .gr-modal-advance .modal-body {
    position: absolute;
    top: 43px;
    width: 100%;
    background: var(--bg-primary-color);
    padding: 0.5rem !important;
}

::ng-deep .gr-modal-advance .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 42px;
    padding: 10px;
    border-radius: 0;
    background: var(--bg-primary-color);
}

::ng-deep .gr-modal-advance .modal-body div.scroll {
    height: calc(305px - 1rem);
}

.checkbox{background-color:#fff;display:inline-block;height:20px;margin:0 .25em;width:20px;border-radius:4px;border:1px solid #ccc;float:right}
  .checkbox span{display:block;height:20px;position:relative;width:20px;padding:0}
  .checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:12px;left:3px;position:absolute;top:8px;width:10px}
  .checkbox span:hover:after{border-color:#999}
  .checkbox input{display:none}
  .checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}
.checkbox input:checked + .default:after{border-color:#444}