@import '../../../../../styles.css';

/* gr-modal-author */

::ng-deep .gr-modal-author .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

::ng-deep .gr-modal-author .modal-dialog {
    position: fixed;
    margin: 0;
    min-width: 550px;
    height: 450px;
    padding: 0;
    font-family: var(--main-font-family);
    font-size: var(--default-font-size);
}

::ng-deep .gr-modal-author .modal-content {
    position: absolute;
    top: calc((100vh - 450px) / 3);
    right: 0;
    bottom: 0;
    left: calc((100vw - 550px) / 2);
    height: 450px;
    border-radius: 0;
}

::ng-deep .gr-modal-author .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 42px;
    padding: 0.25rem 0.5rem;
    background: var(--bg-primary-color);
}

::ng-deep .gr-modal-author .modal-body {
    position: absolute;
    top: 43px;
    width: 100%;
    background: var(--bg-primary-color);
    padding: 0.5rem !important;
}

::ng-deep .gr-modal-author .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 42px;
    padding: 10px;
    border-radius: 0;
    background: var(--bg-primary-color);
}

::ng-deep .gr-modal-author .modal-body div.scroll {
    height: calc(365px - 1rem);
}