<ng-container *ngIf="!isLoading">
  <div class="modal-header">
    <table class="panel">
      <tr>
        <td>
          <h6 class="modal-title"><label class="lbl-custom-left">
              <span>Customs clearance & trucking</span></label>
          </h6>
        </td>
      </tr>
    </table>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="panel">
      <div class="scroll">
        <tr>
          <div style="height: 5px"></div>
          <table class="panel-noheight">
            <tr>
              <table class="panel">
                <tr>
                  <td style="width: 5%;">
                    <label class="lbl-custom-left">Commodity<span style="color: red;"> *</span></label>
                  </td>
                  <td style="width: 12%;">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="customClearance.commodity">
                  </td>
                  <td style="width: 5%;">
                    <label class="lbl-custom-left">Commodity type<span style="color: red;"> *</span></label>
                  </td>
                  <td style="width: 10%;">
                    <ng-select class="of-custom-select-type" [multiple]="false" [(ngModel)]="customClearance.commodityType">
                      <ng-option
                        *ngFor="let commo of (commodities | async)"
                        [value]="commo.commodityID"
                      >
                        {{ commo.commodityName }}
                      </ng-option>
                    </ng-select>
                  </td>
                </tr>
              </table>
            </tr>
          </table>
          <table class="panel-noheight">
            <tr>
              <table class="panel">
                <tr>
                  <td style="width: 5%;">
                    <label class="lbl-custom-left">HS Code</label>
                  </td>
                  <td style="width: 12%;">
                    <ng-select class="of-custom-select-type" [multiple]="false" [(ngModel)]="customClearance.hsCode">
                      <ng-option
                        *ngFor="let commo of (commodities | async)"
                        [value]="commo.commodityID"
                      >
                        {{commo.hsCode}}
                      </ng-option>
                    </ng-select>
                  </td>
                  <td style="width: 15%;"></td>
                </tr>
              </table>
            </tr>
          </table>
          
          <div style="height: 5px"></div>
            <ngb-accordion #general="ngbAccordion" activeIds="general-1">
              <ngb-panel id="general-1">
                <ng-template ngbPanelHeader let-opened="opened">
                  <button ngbPanelToggle class="btn btn-accordion">
                    <span>{{ opened ? '&#045;' : '&#043;'}}
                      Need trucking service<span style="color: red;"> *</span></span>
                  </button>
                  <div style="padding: .375rem 0rem;">
                    <button class="btn-collapse btn-sm" (click)="general.expandAll()">Expand
                      all</button>
                  </div>
                  <div style="padding: .375rem 0rem;">
                    <button class="btn-collapse btn-sm" (click)="general.collapseAll()">Collapse
                      all</button>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <table class="panel">
                    <table class="panel-noheight">
                      <tr>
                        <table class="panel">
                          <tr>
                            <td style="width: 5%;">
                              <label class="lbl-custom-left">Pick up address</label>
                            </td>
                            <td style="width: 12%;">
                              <of1-input-lookup [data]="ports | async" class="port" [(ngModel)]="customClearance.portofLoading"></of1-input-lookup>
                            </td>
                            <td style="width: 12%;"></td>
                          </tr>
                        </table>
                      </tr>
                    </table>
                    <table class="panel-noheight">
                      <tr>
                        <table class="panel">
                          <tr>
                            <td style="width: 5%;">
                              <label class="lbl-custom-left">Delivery address</label>
                            </td>
                            <td style="width: 12%;">
                              <of1-input-lookup [data]="ports | async" class="port" [(ngModel)]="customClearance.portofDischarge"></of1-input-lookup>
                            </td>
                            <td style="width: 12%;"></td>
                          </tr>
                        </table>
                      </tr>
                    </table>

                    <table class="panel-noheight mt-1">
                      <tr>
                        <table class="panel">
                          <td style="width: 1%;">
                            <label class="checkbox">
                              <input type="checkbox" [(ngModel)]="customClearance.cargoIsUnstackable"/>
                              <span class="default"></span>
                            </label>
                          </td>
                          <td style="width: 6%;">
                            <label class="lbl-custom-left">Cargo is un-stackable</label>
                          </td>
                          <td style="width: 23%;">
                          </td>
                        </table>
                      </tr>
                    </table>
                    
                    <table class="panel-noheight mt-1">
                      <tr>
                        <table class="panel">
                          <tr>
                            <td style="width: 5%;">
                              <label class="lbl-custom-left">Gross weight:</label>
                            </td>
                            <td style="width: 10%;">
                              <input type="text"  class="form-control form-control-sm">
                            </td>
                            <td style="width: 6%;">
                              <label class="lbl-custom-left">Max weight per package</label>
                            </td>
                            <td style="width: 9%;">
                              <input type="text"  class="form-control form-control-sm" [(ngModel)]="customClearance.truckingMaxWeightPerPackage">
                            </td>
                          </tr>
                        </table>
                      </tr>
                    </table>

                    <table class="panel-noheight mt-1">
                      <tr>
                        <table class="panel">
                          <tr>
                            <td style="width: 5%;">
                              <label class="lbl-custom-left">Volume</label>
                            </td>
                            <td style="width: 10%;">
                              <input type="text"  class="form-control form-control-sm" [(ngModel)]="customClearance.volume">
                            </td>
                            <td style="width: 6%;">
                              <label class="lbl-custom-left">Max height</label>
                            </td>
                            <td style="width: 9%;">
                              <input type="text"  class="form-control form-control-sm" [(ngModel)]="customClearance.truckingMaxHeight">
                            </td>
                          </tr>
                        </table>
                      </tr>
                    </table>
                    <table class="panel-noheight mt-1">
                      <tr>
                        <table class="panel">
                          <tr>
                            <td style="width: 5%;">
                              <label class="lbl-custom-left">Max length</label>
                            </td>
                            <td style="width: 10%;">
                              <input type="text"  class="form-control form-control-sm" [(ngModel)]="customClearance.truckingMaxLength">
                            </td>
                            <td style="width: 6%;">
                              <label class="lbl-custom-left">Max width</label>
                            </td>
                            <td style="width: 9%;">
                              <input type="text"  class="form-control form-control-sm" [(ngModel)]="customClearance.truckingMaxWidth">
                            </td>
                          </tr>
                        </table>
                      </tr>
                    </table>
                  </table>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="general-2">
                <ng-template ngbPanelHeader let-opened="opened">
                  <button ngbPanelToggle class="btn btn-accordion"><span>{{ opened ? '&#045;' : '&#043;'}}
                    Need customs clearance<span style="color: red;"> *</span></span></button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <table class="panel">
                    <table class="panel-noheight mt-1">
                      <tr>
                        <table class="panel">
                          <td style="width: 4%;">
                            <div class="of1-cus-coluor">
                              <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input mr-5" id="defaultGroupExampleSub1"
                                  name="isExport"  [checked]="isExport === 'CUSTOM_CLEARANCE_IMPORT'"
                                  value="CUSTOM_CLEARANCE_IMPORT"
                                  [(ngModel)]="isExport"
                                >
                                <label
                                  class="custom-control-label" for="defaultGroupExampleSub1"
                                >Import</label>
                              </div>
                            </div>
                          </td>
                          <td style="width: 4%;">
                            <div class="of1-cus-coluor">
                              <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input mr-5" id="customclearanceExport1"
                                  name="isExport"
                                  value="CUSTOM_CLEARANCE_EXPORT"
                                  [checked]="isExport !== 'CUSTOM_CLEARANCE_IMPORT'"
                                  [(ngModel)]="isExport"
                                >
                                <label
                                  class="custom-control-label" for="customclearanceExport1"
                                >Export</label>
                              </div>
                            </div>
                          </td>
                          <td style="width: 22%;"></td>
                        </table>
                      </tr>
                    </table>

                    <table class="panel-noheight mt-1">
                      <tr>
                        <table class="panel">
                          <td style="width: 8%;">
                            <label class="lbl-custom-left">Import or export thru which terminal</label>
                          </td>
                          <td style="width: 12%;">
                            <input type="text"  class="form-control form-control-sm" [(ngModel)]="customClearance.eachPalletDimension">
                          </td>
                          <td style="width: 10%;">
                          </td>
                        </table>
                      </tr>
                    </table>
                    <table class="panel-noheight mt-1">
                      <tr>
                        <table class="panel">
                          <td style="width: 8%;">
                            <label class="lbl-custom-left">Purpose of import/export</label>
                          </td>
                          <td style="width: 12%;">
                            <ng-select appendTo="body" class="of-custom-select-type" [multiple]="false" [(ngModel)]="customClearance.purposeOfImEx">
                              <ng-option
                                *ngFor="let clearanceType of (clearanceTypes)"
                                [value]="clearanceType.customsClearanceTypeID"
                              >
                                {{clearanceType.customsClearanceTypeName}}
                              </ng-option>
                            </ng-select>
                          </td>
                          <td style="width: 10%;">
                          </td>
                        </table>
                      </tr>
                    </table>
                  </table>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
        </tr>
      </div>

    </table>
  </div>
  <div class="modal-footer">
    <table class="panel">
      <tr>
        <td></td>
        <td style="width: 71px">
          <button class="btn btn-custom btn-sm" type="button" (click)="save()"><span>Save</span></button>
        </td>
        <td style="width: 71px">
          <button class="btn btn-custom btn-sm" type="button" (click)="cancel()">Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</ng-container>



