.form-control {
    border: 1px solid var(--border-color);
    font-family: var(--type-1);
    font-size: 12px;
    padding: 0.56rem .75rem;
    line-height: 14px;
}

.form-control.form-control-lg {
    padding: .25rem;
    height: 50px;
}

.form-control.form-control-sm {
    padding: .25rem;
}

.field-require {
    border: 2px solid red !important;
}